Django==5.0
beautifulsoup4==4.12.3
bootstrap4==0.1.0
boto3==1.26.99
botocore==1.29.99
certifi==2022.12.7
cffi==1.16.0
channels==4.1.0
django-cleanup==8.1.0
django-cors-headers==4.2.0
django-storages==1.13.2
gunicorn==20.1.0
dnspython==2.4.2
httpcore==1.0.2
httpx==0.26.0
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
requests==2.28.2
whitenoise==5.3.0