<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post Job Data</title>
</head>
<body>
  <center>
    <h1>Post Job Data</h1>
  </center>
  <form action="{% url 'post_job' %}" method="POST">
    {% csrf_token %}
    
    <label for="job_title">Job Title:</label>
    <input type="text" id="job_title" name="job_title" required><br><br>
    
    <label for="job_description">Job Description:</label>
    <textarea id="job_description" name="job_description" rows="4" cols="50" required></textarea><br><br>
    
    <label for="job_location">Job Location:</label>
    <input type="text" id="job_location" name="job_location" required><br><br>
    
    <label for="job_salary">Job Salary:</label>
    <input type="text" id="job_salary" name="job_salary" required><br><br>
    
    <label for="job_type">Job Type:</label>
    <select id="job_type" name="job_type" required>
      <option value="">Select job type</option>
      <option value="Full-time">Full-time</option>
      <option value="Part-time">Part-time</option>
      <option value="Contract">Contract</option>
      <option value="Internship">Internship</option>
    </select><br><br>
    <input type="url" id="job_url" name="job_url" placeholder="Enter job URL" required><br><br>
    <input type="submit" value="Post Job">
  </form>
  <br>
  
    <table>
        <tr>
        <th>Job Title</th>
        <th>Job Description</th>
        <th>Job Location</th>
        <th>Job Salary</th>
        <th>Job Type</th>
        <th>Job URL</th>
        </tr>
        {% for i in jobs %}
        <tr>
        <td>{{ i.job_title }}</td>
        <td>{{ i.job_description }}</td>
        <td>{{ i.job_location }}</td>
        <td>{{ i.job_salary }}</td>
        <td>{{ i.job_type }}</td>
        <td>{{ i.job_url }}</td>
        </tr>
        {% endfor %}
        </table>
</body>
</html>
